<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mysite</title>
</head>
<body>
    <div class="header">
        <h1>To do your tasks</h1>
    </div>
    
    
    <div class="topnav">
        <a href="">link</a>
        <a href="">link</a>
        <a href="">link</a>
        <a href="">link</a>
    </div>

    <div class="row">
        <div class="leftroom">
            <div class="card">
                <h2>recent tasks</h2>
            </div>
        </div>
    </div>

    <!--<footer>
        <div class="footer">
            <h3>this is the footer</h3>
        </div>
    </footer>-->


</body>
</html>